<!doctype html>
<html>
  <head>
    <title>QV {{ .Filename }}</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      html,
      body {
        height: 100%;
        background-color: #888;
      }

      img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
      }
    </style>
  </head>

  <body>
    <img id="img" src="item?{{ .UnixNanoseconds }}" />
  </body>

  <script>
    function connect() {
      const watchURL = "{{ .WebsocketURL }}";
      const socket = new WebSocket(watchURL);
      const img = document.getElementById("img");

      console.log("Watching on", watchURL);

      socket.onopen = function (e) {
        console.log("Connection established");
      };

      socket.onmessage = function (e) {
        console.log("Updating image to timestamp:", e.data);
        img.src = "item?" + e.data;
      };

      socket.onclose = function (e) {
        if (e.wasClean) {
          // TODO: What to do here?  Reconnect to handle server restarts?
          console.log("Connection closed cleanly");
        } else {
          console.error("Connection closed");
          console.error(e);
          connect();
        }
      };

      socket.onerror = function (e) {
        console.error("Connection error");
        console.error(e);
      };
    }

    connect();
  </script>
</html>
