<!doctype html>
<html>
  <header>
    <title>QV {{ .Filename }}</title>
  </header>

  <body>
    <img src="item?{{ .UnixNanoseconds }}" />
  </body>

  <script>
    const watchURL = "{{ .WebsocketURL }}";
    const socket = new WebSocket(watchURL);

    console.log("Watching on", watchURL);

    socket.onopen = function (e) {
      console.log("Connection established");
    };

    socket.onmessage = function (e) {
      console.log(e.data);
    };

    socket.onclose = function (e) {
      if (e.wasClean) {
        // TODO: What to do here?  Reconnect to handle server restarts?
        console.log("Connection closed cleanly");
      } else {
        console.error("Connection closed");
        console.error(e);
      }
    };

    socket.onerror = function (e) {
      console.error("Connection error");
      console.error(e);
    };
  </script>
</html>
